<div class="page-header">
  <h1 ng-show="isEdit">Edit: {{ data.title }}</h1>
  <h1 ng-show="isNew">New Note</h1>
</div>

<form>
  <fieldset class="form-group"></fieldset>
  <label>Title</label>
  <input class="form-control" type="text" ng-model="data.title">
</form>
<form>
  <fieldset class="form-group"></fieldset>
  <label>Description</label>
  <input class="form-control" type="text" ng-model="data.description">
</form>
<form>
  <fieldset class="form-group"></fieldset>
  <label>Content</label>
  <input class="form-control" type="text" ng-model="data.content">
</form>
<input ng-click="saveNote(data)" type="submit" value="{{ isSubmitting ? 'saving...' : 'Save' }}" ng-disabled="isSubmitting" class="btn btn-default">
<!-- <small>{{ data.user.name }}</small>
<p>{{ data.content }}</p>
<a class="btn btn-primary" href="#">Edit</a>
<a class="btn btn-danger" href="#">Delete</a> -->
