<div class="page-header">
  <h1 ng-show="isEdit">Edit: {{ note.title }}</h1>
  <h1 ng-show="isNew">New Note</h1>
</div>

<form>
  <fieldset class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" ng-model="note.title">
  </fieldset>

  <fieldset class="form-group">
    <label>Description</label>
    <textarea class="form-control" ng-model="note.description"></textarea>
  </fieldset>

  <fieldset class="form-group">
    <label>Content</label>
    <input class="form-control" type="text" ng-model="note.content">
  </fieldset>
  <input ng-click="saveNote(note)" type="submit" value="{{ isSubmitting ? 'saving...' : 'Save' }}" ng-disabled="isSubmitting" class="btn btn-default">
</form>
<!-- <small>{{ note.user.name }}</small>
<p>{{ note.content }}</p>
<a class="btn btn-primary" href="#">Edit</a>
<a class="btn btn-danger" href="#">Delete</a> -->
